.container{
    margin-top:15px;
    margin-bottom:15px;
    padding:15px;
    padding:0px 20px 40px 20px;
    border: 1px solid #808080;
    box-shadow: 5px 5px 15px #353535;
    background-color:#FFF;
}