<nav class="teal">
    <div class="nav-wrapper">
      <logo [cssClass]="logoClass"></logo>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li routerLinkActive="active"><a routerLink="usuarios">Usuários</a></li>
        <li routerLinkActive="active"><a routerLink="cargos">Cargos</a></li>
        <li routerLinkActive="active"><a routerLink="departamentos">Departamentos</a></li>
        <li routerLinkActive="active"><a routerLink="centros-de-custo">Centros de custo</a></li>
        
      </ul>
    </div>
</nav>