.logo{
    text-decoration: none;
    color:#454545;
    font-size: 4em;
    font-family: 'Comfortaa', cursive;    
}

.navbar_logo{
    text-decoration: none;
    color:#FFF;
    margin-left:25px;
    font-size: 1.5em;
    font-family: 'Comfortaa', cursive;
}